$white        = #FFFFFF
$primary      = #5C6884
$secondary    = #1A8BD8
$tertiary     = #EEEEEE

body
  line-height: 1.6
  font-weight: 300
  background-color: $tertiary
  font-family: Helvetica, Arial, sans-serif

  .main
    max-width: 480px
    margin: 40px auto
    position: relative

    &:before
      top: 0
      bottom: 0
      left: 50px
      width: 4px
      content: ''
      position: absolute
      border-left: 1px solid $tertiary
      border-right: 1px solid $tertiary
      z-index: 2

    .stack
      display: block
      color: $primary
      position: relative
      margin-bottom: 1px
      text-decoration: none
      background-color: $white
      padding: 20px 20px 20px 80px
      transition: all 0.25s ease

      &:last-child
        margin-bottom: 0

      &:hover
        transform: translateX(10px)

      .title
        color: $secondary

      .description
        font-size: 14px
