doctype html
html(lang="en")

  head
    title App
    base(href="/")

    meta(charset="utf-8")
    meta(name="description" content="")

    // bower:css
    // Bower styles will go here
    // endinject

    // inject:css
    // App styles will go here
    // endinject

  body(ng-app="AppModule", ng-strict-di)
    .main(ng-view)

    // bower:js
    // Bower scripts will go here
    // endinject

    // inject:js
    // App scripts will go here
    // endinject
